<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yasound App Store.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Yasound adhoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Yasound copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Yasound copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Yasound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YasoundD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC71F5BB147FEC6F00DAE4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC93CCC514CF3F7A007C723F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5A9A3A81454DC0500EA374C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5F3B7B21498B82C008DD607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5F3B8531498B88D008DD607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
