<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.yasound.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>stylesheet</key>
	<dict>
		<key>RadioSelectionBackground</key>
		<dict>
			<key>name</key>
			<string>CellBackground</string>
			<key>type</key>
			<string>png</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>RadioSelectionAvatar</key>
		<dict>
			<key>height</key>
			<integer>50</integer>
			<key>width</key>
			<integer>50</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>RadioSelectionMaskGray</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>name</key>
			<string>MaskGray</string>
			<key>type</key>
			<string>png</string>
		</dict>
		<key>RadioSelectionMaskWhite</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>name</key>
			<string>MaskWhite</string>
			<key>type</key>
			<string>png</string>
		</dict>
		<key>RadioSelectionTitle</key>
		<dict>
			<key>x</key>
			<integer>62</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>204</integer>
			<key>height</key>
			<integer>21</integer>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue-Bold</string>
				<key>size</key>
				<integer>16</integer>
				<key>textColor</key>
				<string>rgb(90,90,90)</string>
				<key>text</key>
				<string>Jenny&apos;s Radio</string>
				<key>weight</key>
				<string>bold</string>
			</dict>
		</dict>
		<key>RadioSelectionSubtitle1</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>23</integer>
			<key>width</key>
			<integer>207</integer>
			<key>height</key>
			<integer>21</integer>
			<key>font</key>
			<dict>
				<key>textColor</key>
				<string>rgb(90,90,90)</string>
				<key>text</key>
				<string>Fantastic Plastic Machine</string>
			</dict>
		</dict>
		<key>RadioSelectionSubtitle2</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>35</integer>
			<key>width</key>
			<integer>207</integer>
			<key>height</key>
			<integer>21</integer>
			<key>font</key>
			<dict>
				<key>textColor</key>
				<string>rgb(90,90,90)</string>
				<key>text</key>
				<string>Bossa for Jackie (Summer Review)</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
