<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.yasound.yasound</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.32</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.yasound.yasound</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb296167703762159</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.yasound.yasound</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yasound</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.32</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>Resources</key>
	<dict>
		<key>serverURL</key>
		<string>https://api.yasound.com/</string>
		<key>styles</key>
		<array>
			<string>style_all</string>
			<string>style_classique</string>
			<string>style_blues</string>
			<string>style_alternative</string>
			<string>style_electro</string>
			<string>style_chanson_francaise</string>
			<string>style_jazz</string>
			<string>style_pop</string>
			<string>style_reggae</string>
			<string>style_rock</string>
			<string>style_metal</string>
			<string>style_hiphop</string>
			<string>style_rnbsoul</string>
			<string>style_world</string>
			<string>style_divers</string>
		</array>
		<key>stylesheet</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
