<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.yasound.yasound</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.yasound.yasound</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb296167703762159</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.3.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>Resources</key>
	<dict>
		<key>fakeUsers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>image</key>
				<string>avatarDummy.png</string>
				<key>likes</key>
				<integer>124</integer>
				<key>listeners</key>
				<integer>29</integer>
				<key>subtitle1</key>
				<string>Fantastic Plastic Machine</string>
				<key>subtitle2</key>
				<string>Bossa for Jackie (Summer Review)</string>
				<key>title</key>
				<string>Jenny's Radio</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>image</key>
				<string>avatarDummy1.png</string>
				<key>likes</key>
				<integer>24</integer>
				<key>listeners</key>
				<integer>254</integer>
				<key>subtitle1</key>
				<string>Lana del Rey</string>
				<key>subtitle2</key>
				<string>Blue Jeans</string>
				<key>title</key>
				<string>Scene unseen</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>image</key>
				<string>avatarDummy2.png</string>
				<key>likes</key>
				<integer>456</integer>
				<key>listeners</key>
				<integer>2354</integer>
				<key>subtitle1</key>
				<string>Ymac Sumac</string>
				<key>subtitle2</key>
				<string>Chant Of The Chosen Maidens (Accla Taqui)</string>
				<key>title</key>
				<string>Jazz, Samba et compagnie</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>image</key>
				<string>avatarDummy3.png</string>
				<key>likes</key>
				<integer>234</integer>
				<key>listeners</key>
				<integer>65</integer>
				<key>subtitle1</key>
				<string>Mark Ronson</string>
				<key>subtitle2</key>
				<string>Bang Bang Bang</string>
				<key>title</key>
				<string>Scene unseen</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>image</key>
				<string>avatarDummy4.png</string>
				<key>likes</key>
				<integer>56</integer>
				<key>listeners</key>
				<integer>23</integer>
				<key>subtitle1</key>
				<string>Vive la fête</string>
				<key>subtitle2</key>
				<string>Petit Colibri</string>
				<key>title</key>
				<string>Electro Radio</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>image</key>
				<string>avatarDummy5.png</string>
				<key>likes</key>
				<integer>456</integer>
				<key>listeners</key>
				<integer>2354</integer>
				<key>subtitle1</key>
				<string>Lorem Ipsum Dolore</string>
				<key>subtitle2</key>
				<string>Les oiseaux sifflent, le printemps siffle</string>
				<key>title</key>
				<string>Salsifis</string>
			</dict>
		</array>
		<key>fakeUsersFavorites</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>image</key>
				<string>avatarDummy3.png</string>
				<key>likes</key>
				<integer>234</integer>
				<key>listeners</key>
				<integer>65</integer>
				<key>subtitle1</key>
				<string>Mark Ronson</string>
				<key>subtitle2</key>
				<string>Bang Bang Bang</string>
				<key>title</key>
				<string>Scene unseen</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>image</key>
				<string>avatarDummy4.png</string>
				<key>likes</key>
				<integer>56</integer>
				<key>listeners</key>
				<integer>23</integer>
				<key>subtitle1</key>
				<string>Vive la fête</string>
				<key>subtitle2</key>
				<string>Petit Colibri</string>
				<key>title</key>
				<string>Electro Radio</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>image</key>
				<string>avatarDummy5.png</string>
				<key>likes</key>
				<integer>456</integer>
				<key>listeners</key>
				<integer>2354</integer>
				<key>subtitle1</key>
				<string>Lorem Ipsum Dolore</string>
				<key>subtitle2</key>
				<string>Les oiseaux sifflent, le printemps siffle</string>
				<key>title</key>
				<string>Salsifis</string>
			</dict>
		</array>
		<key>fakeUsersFriends</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>image</key>
				<string>avatarDummy.png</string>
				<key>likes</key>
				<integer>124</integer>
				<key>listeners</key>
				<integer>29</integer>
				<key>subtitle1</key>
				<string>Fantastic Plastic Machine</string>
				<key>subtitle2</key>
				<string>Bossa for Jackie (Summer Review)</string>
				<key>title</key>
				<string>Jenny's Radio</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>image</key>
				<string>avatarDummy1.png</string>
				<key>likes</key>
				<integer>24</integer>
				<key>listeners</key>
				<integer>254</integer>
				<key>subtitle1</key>
				<string>L'homme face à l'absurde</string>
				<key>subtitle2</key>
				<string>Donc, la duchesse d'Acquitaine.</string>
				<key>title</key>
				<string>J'adore les fruits aux sirot</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>image</key>
				<string>avatarDummy2.png</string>
				<key>likes</key>
				<integer>456</integer>
				<key>listeners</key>
				<integer>2354</integer>
				<key>subtitle1</key>
				<string>Ymac Sumac</string>
				<key>subtitle2</key>
				<string>Chant Of The Chosen Maidens (Accla Taqui)</string>
				<key>title</key>
				<string>Jazz, Samba et compagnie</string>
			</dict>
		</array>
		<key>styles</key>
		<array>
			<string>style_all</string>
			<string>style_classique</string>
			<string>style_blues</string>
			<string>style_alternative</string>
			<string>style_electro</string>
			<string>style_chanson_francaise</string>
			<string>style_jazz</string>
			<string>style_pop</string>
			<string>style_reggae</string>
			<string>style_rock</string>
			<string>style_metal</string>
			<string>style_hiphop</string>
			<string>style_rnbsoul</string>
			<string>style_world</string>
			<string>style_divers</string>
		</array>
		<key>stylesheet</key>
		<dict>
			<key>GuiTintColor</key>
			<dict>
				<key>color</key>
				<string>black</string>
			</dict>
			<key>RadioSelectionAvatar</key>
			<dict>
				<key>height</key>
				<integer>50</integer>
				<key>width</key>
				<integer>50</integer>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>RadioSelectionBackgroundDark</key>
			<dict>
				<key>name</key>
				<string>CellBackgroundDark</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>RadioSelectionBackgroundLight</key>
			<dict>
				<key>name</key>
				<string>CellBackgroundLight</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>RadioSelectionCategoryShadow</key>
			<dict>
				<key>name</key>
				<string>categoryShadow</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>RadioSelectionLikes</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>HelveticaNeue</string>
					<key>size</key>
					<integer>10</integer>
					<key>text</key>
					<string>12345</string>
					<key>textColor</key>
					<string>rgb(90,90,90)</string>
				</dict>
				<key>font.selected</key>
				<dict>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>10</integer>
				<key>width</key>
				<integer>32</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>4</integer>
			</dict>
			<key>RadioSelectionListeners</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>HelveticaNeue</string>
					<key>size</key>
					<integer>10</integer>
					<key>text</key>
					<string>234</string>
					<key>textColor</key>
					<string>rgb(90,90,90)</string>
				</dict>
				<key>font.selected</key>
				<dict>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>10</integer>
				<key>width</key>
				<integer>32</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>13</integer>
			</dict>
			<key>RadioSelectionMaskGray</key>
			<dict>
				<key>name</key>
				<string>MaskGray</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>RadioSelectionMaskWhite</key>
			<dict>
				<key>name</key>
				<string>MaskWhite</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>RadioSelectionSubtitle1</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>HelveticaNeue</string>
					<key>size</key>
					<integer>10</integer>
					<key>text</key>
					<string>Fantastic Plastic Machine</string>
					<key>textColor</key>
					<string>rgb(90,90,90)</string>
				</dict>
				<key>font.selected</key>
				<dict>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>21</integer>
				<key>width</key>
				<integer>207</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>23</integer>
			</dict>
			<key>RadioSelectionSubtitle2</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>HelveticaNeue</string>
					<key>size</key>
					<integer>10</integer>
					<key>text</key>
					<string>Bossa for Jackie (Summer Review)</string>
					<key>textColor</key>
					<string>rgb(90,90,90)</string>
				</dict>
				<key>font.selected</key>
				<dict>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>21</integer>
				<key>width</key>
				<integer>207</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>35</integer>
			</dict>
			<key>RadioSelectionTitle</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>HelveticaNeue-Bold</string>
					<key>size</key>
					<integer>17</integer>
					<key>text</key>
					<string>Jenny's Radio</string>
					<key>textColor</key>
					<string>rgb(90,90,90)</string>
					<key>weight</key>
					<string>bold</string>
				</dict>
				<key>font.selected</key>
				<dict>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>21</integer>
				<key>width</key>
				<integer>204</integer>
				<key>x</key>
				<integer>62</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<key>WebImageActivityIndicator</key>
			<dict>
				<key>height</key>
				<integer>20</integer>
				<key>width</key>
				<integer>20</integer>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>16</integer>
			</dict>
			<key>loginYasoundTableFrame1</key>
			<dict>
				<key>height</key>
				<integer>416</integer>
				<key>inset</key>
				<integer>120</integer>
				<key>width</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>44</integer>
			</dict>
			<key>loginYasoundTableFrame2</key>
			<dict>
				<key>height</key>
				<integer>416</integer>
				<key>inset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>44</integer>
			</dict>
		</dict>
		<key>themes</key>
		<array>
			<dict>
				<key>bundle</key>
				<string>default</string>
				<key>description</key>
				<string>theme_default_description</string>
				<key>id</key>
				<string>theme_default</string>
			</dict>
			<dict>
				<key>bundle</key>
				<string>blues</string>
				<key>description</key>
				<string>theme_blues_description</string>
				<key>id</key>
				<string>theme_blues</string>
			</dict>
			<dict>
				<key>bundle</key>
				<string>classic</string>
				<key>description</key>
				<string>theme_classic_description</string>
				<key>id</key>
				<string>theme_classic</string>
			</dict>
		</array>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
