<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.yasound.yasound</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.yasound.yasound</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb352524858117964</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>Resources</key>
	<dict>
		<key>notifications</key>
		<dict>
			<key>NotifFriendEnters</key>
			<true/>
			<key>NotifFriendGoesOnline</key>
			<true/>
			<key>NotifLikeReceived</key>
			<true/>
			<key>NotifNewFriendRadio</key>
			<true/>
			<key>NotifPostReceived</key>
			<true/>
			<key>NotifRadioShared</key>
			<true/>
			<key>NotifSubscriptionReceived</key>
			<true/>
			<key>NotifUserEnters</key>
			<true/>
		</dict>
		<key>serverURL</key>
		<string>http://dev.yasound.com/</string>
		<key>styles</key>
		<array>
			<string>style_all</string>
			<string>style_classique</string>
			<string>style_blues</string>
			<string>style_alternative</string>
			<string>style_electro</string>
			<string>style_chanson_francaise</string>
			<string>style_jazz</string>
			<string>style_pop</string>
			<string>style_reggae</string>
			<string>style_rock</string>
			<string>style_metal</string>
			<string>style_hiphop</string>
			<string>style_rnbsoul</string>
			<string>style_world</string>
			<string>style_divers</string>
		</array>
		<key>stylesheet</key>
		<dict>
			<key>ActivityModelessSpinner</key>
			<dict>
				<key>height</key>
				<integer>28</integer>
				<key>width</key>
				<integer>38</integer>
				<key>x</key>
				<integer>293</integer>
				<key>y</key>
				<integer>52</integer>
			</dict>
			<key>GuiTintColor</key>
			<dict>
				<key>color</key>
				<string>black</string>
			</dict>
			<key>NotificationDate</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>HelveticaNeue</string>
					<key>size</key>
					<integer>13</integer>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>18</integer>
				<key>width</key>
				<integer>40</integer>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<integer>5</integer>
			</dict>
			<key>NotificationText</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>HelveticaNeue</string>
					<key>size</key>
					<integer>13</integer>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>34</integer>
				<key>width</key>
				<integer>222</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>5</integer>
			</dict>
			<key>NotificationViewCellLabel</key>
			<dict>
				<key>font</key>
				<dict>
					<key>size</key>
					<integer>15</integer>
					<key>textColor</key>
					<string>white</string>
					<key>weight</key>
					<string>bold</string>
				</dict>
				<key>height</key>
				<integer>21</integer>
				<key>width</key>
				<integer>200</integer>
				<key>x</key>
				<integer>16</integer>
				<key>y</key>
				<integer>8</integer>
			</dict>
			<key>RadioSelectionAvatar</key>
			<dict>
				<key>height</key>
				<integer>50</integer>
				<key>width</key>
				<integer>50</integer>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>7</integer>
			</dict>
			<key>RadioSelectionBackgroundDark</key>
			<dict>
				<key>name</key>
				<string>CellRadioDark</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>RadioSelectionBackgroundLight</key>
			<dict>
				<key>name</key>
				<string>CellRadioLight</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>RadioSelectionLikes</key>
			<dict>
				<key>font</key>
				<dict>
					<key>backgroundColor</key>
					<string>clear</string>
					<key>name</key>
					<string>HelveticaNeue</string>
					<key>size</key>
					<integer>11</integer>
					<key>textAlignement</key>
					<string>right</string>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>13</integer>
				<key>width</key>
				<integer>48</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<key>RadioSelectionListeners</key>
			<dict>
				<key>font</key>
				<dict>
					<key>backgroundColor</key>
					<string>clear</string>
					<key>name</key>
					<string>HelveticaNeue</string>
					<key>size</key>
					<integer>11</integer>
					<key>textAlignement</key>
					<string>right</string>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>13</integer>
				<key>width</key>
				<integer>48</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>19</integer>
			</dict>
			<key>RadioSelectionMaskGray</key>
			<dict>
				<key>name</key>
				<string>CellRadioDark_Mask</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>7</integer>
			</dict>
			<key>RadioSelectionMaskWhite</key>
			<dict>
				<key>name</key>
				<string>CellRadioLight_Mask</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>7</integer>
			</dict>
			<key>RadioSelectionSubtitle1</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>HelveticaNeue</string>
					<key>size</key>
					<integer>10</integer>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>21</integer>
				<key>width</key>
				<integer>207</integer>
				<key>x</key>
				<integer>82</integer>
				<key>y</key>
				<integer>30</integer>
			</dict>
			<key>RadioSelectionSubtitle2</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>HelveticaNeue</string>
					<key>size</key>
					<integer>10</integer>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>21</integer>
				<key>width</key>
				<integer>207</integer>
				<key>x</key>
				<integer>82</integer>
				<key>y</key>
				<integer>42</integer>
			</dict>
			<key>RadioSelectionTitle</key>
			<dict>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>HelveticaNeue-Bold</string>
					<key>size</key>
					<integer>16</integer>
					<key>textColor</key>
					<string>white</string>
					<key>weight</key>
					<string>bold</string>
				</dict>
				<key>height</key>
				<integer>21</integer>
				<key>width</key>
				<integer>204</integer>
				<key>x</key>
				<integer>82</integer>
				<key>y</key>
				<integer>5</integer>
			</dict>
			<key>UnreadNotifBadge</key>
			<dict>
				<key>font</key>
				<dict>
					<key>backgroundColor</key>
					<string>clear</string>
					<key>name</key>
					<string>HelveticaNeue-Bold</string>
					<key>size</key>
					<integer>15</integer>
					<key>textColor</key>
					<string>white</string>
				</dict>
				<key>height</key>
				<integer>20</integer>
				<key>width</key>
				<integer>60</integer>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>12</integer>
			</dict>
			<key>UserCellBackgroundDark</key>
			<dict>
				<key>name</key>
				<string>UserCellRadioDark</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>UserCellBackgroundLight</key>
			<dict>
				<key>name</key>
				<string>UserCellRadioLight</string>
				<key>type</key>
				<string>png</string>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>WebImageActivityIndicator</key>
			<dict>
				<key>height</key>
				<integer>20</integer>
				<key>width</key>
				<integer>20</integer>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>16</integer>
			</dict>
			<key>loginYasoundTableFrame1</key>
			<dict>
				<key>height</key>
				<integer>416</integer>
				<key>inset</key>
				<integer>120</integer>
				<key>width</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>44</integer>
			</dict>
			<key>loginYasoundTableFrame2</key>
			<dict>
				<key>height</key>
				<integer>416</integer>
				<key>inset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>44</integer>
			</dict>
		</dict>
		<key>themes</key>
		<array>
			<dict>
				<key>bundle</key>
				<string>default</string>
				<key>description</key>
				<string>theme_default_description</string>
				<key>id</key>
				<string>theme_default</string>
			</dict>
			<dict>
				<key>bundle</key>
				<string>blues</string>
				<key>description</key>
				<string>theme_blues_description</string>
				<key>id</key>
				<string>theme_blues</string>
			</dict>
			<dict>
				<key>bundle</key>
				<string>classic</string>
				<key>description</key>
				<string>theme_classic_description</string>
				<key>id</key>
				<string>theme_classic</string>
			</dict>
		</array>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
