<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>yasound theme default</string>
	<key>id</key>
	<string>theme_default</string>
	<key>stylesheet</key>
	<dict>
		<key>Header</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>136</integer>
			<key>color</key>
			<string>rgb(51,51,51)</string>
		</dict>
		<key>HeaderBackground</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>name</key>
			<string>Header</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header</string>
		</dict>
		<key>HeaderAvatar</key>
		<dict>
			<key>x</key>
			<integer>266</integer>
			<key>y</key>
			<integer>10</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>46</integer>
		</dict>
		<key>HeaderAvatarMask</key>
		<dict>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>8</integer>
			<key>name</key>
			<string>AvatarMask</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header</string>
		</dict>
		<key>HeaderTitle</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue-Bold</string>
				<key>size</key>
				<integer>18</integer>
				<key>text</key>
				<string>Jenny&apos;s Radio</string>
				<key>textColor</key>
				<string>rgb(255,237,207)</string>
				<key>textAlignement</key>
				<string>right</string>
				<key>shadowOffset</key>
				<string>0, -1</string>
				<key>shadowRadius</key>
				<integer>1</integer>
				<key>shadowOpacity</key>
				<integer>1</integer>
			</dict>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>12</integer>
			<key>width</key>
			<integer>204</integer>
			<key>height</key>
			<integer>22</integer>
		</dict>
		<key>HeaderHeart</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>40</integer>
			<key>name</key>
			<string>Heart</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header</string>
		</dict>
		<key>StatusHeadSet</key>
		<dict>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>12</integer>
			<key>name</key>
			<string>HeadSet</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header</string>
		</dict>
		<key>HeaderLikes</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue</string>
				<key>size</key>
				<integer>12</integer>
				<key>text</key>
				<string>12345</string>
				<key>textColor</key>
				<string>rgb(192,192,192)</string>
			</dict>
			<key>height</key>
			<integer>10</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>40</integer>
		</dict>
		<key>StatusListeners</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue-Bold</string>
				<key>size</key>
				<integer>13</integer>
				<key>text</key>
				<string>123456</string>
				<key>textColor</key>
				<string>white</string>
				<key>shadowOffset</key>
				<string>0, -1</string>
				<key>shadowRadius</key>
				<integer>1</integer>
				<key>shadowOpacity</key>
				<integer>1</integer>
			</dict>
			<key>height</key>
			<integer>16</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>13</integer>
		</dict>
		<key>HeaderFavoriteEmptyButton</key>
		<dict>
			<key>x</key>
			<integer>278</integer>
			<key>y</key>
			<integer>6</integer>
			<key>name</key>
			<string>btnFavoriteEmpty</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/Buttons</string>
		</dict>
		<key>HeaderFavoriteFullButton</key>
		<dict>
			<key>x</key>
			<integer>278</integer>
			<key>y</key>
			<integer>6</integer>
			<key>name</key>
			<string>btnFavoriteFull</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/Buttons</string>
		</dict>
		<key>NowPlayingPlayPauseFrame</key>
		<dict>
			<key>x</key>
			<integer>278</integer>
			<key>y</key>
			<integer>6</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>36</integer>
		</dict>
		<key>NowPlayingBar</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>68</integer>
			<key>name</key>
			<string>NowPlayingBar</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/NowPlaying</string>
		</dict>
		<key>NowPlayingBarImage</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>38</integer>
		</dict>
		<key>NowPlayingBarMask</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>5</integer>
			<key>name</key>
			<string>TrackMask</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/NowPlaying</string>
		</dict>
		<key>NowPlayingBarLabel</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue-Bold</string>
				<key>size</key>
				<integer>8</integer>
				<key>text</key>
				<string>NOW PLAYING</string>
				<key>textColor</key>
				<string>rgb(237,222,189)</string>
			</dict>
			<key>height</key>
			<integer>14</integer>
			<key>width</key>
			<integer>106</integer>
			<key>x</key>
			<integer>45</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>NowPlayingBarArtist</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue</string>
				<key>size</key>
				<integer>10</integer>
				<key>textColor</key>
				<string>white</string>
			</dict>
			<key>height</key>
			<integer>13</integer>
			<key>width</key>
			<integer>190</integer>
			<key>x</key>
			<integer>45</integer>
			<key>y</key>
			<integer>17</integer>
		</dict>
		<key>NowPlayingBarTitle</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue</string>
				<key>size</key>
				<integer>10</integer>
				<key>textColor</key>
				<string>white</string>
			</dict>
			<key>height</key>
			<integer>13</integer>
			<key>width</key>
			<integer>190</integer>
			<key>x</key>
			<integer>45</integer>
			<key>y</key>
			<integer>30</integer>
		</dict>
		<key>NowPlayingBarLikes</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue</string>
				<key>size</key>
				<integer>10</integer>
				<key>textColor</key>
				<string>white</string>
			</dict>
			<key>height</key>
			<integer>10</integer>
			<key>width</key>
			<integer>30</integer>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<key>NowPlayingBarDislikes</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue</string>
				<key>size</key>
				<integer>10</integer>
				<key>textColor</key>
				<string>white</string>
			</dict>
			<key>height</key>
			<integer>10</integer>
			<key>width</key>
			<integer>30</integer>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>30</integer>
		</dict>
		<key>NowPlayingBarLikesImage</key>
		<dict>
			<key>x</key>
			<integer>230</integer>
			<key>y</key>
			<integer>6</integer>
			<key>name</key>
			<string>Likes</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/NowPlaying</string>
		</dict>
		<key>NowPlayingBarDislikesImage</key>
		<dict>
			<key>x</key>
			<integer>230</integer>
			<key>y</key>
			<integer>26</integer>
			<key>name</key>
			<string>Dislikes</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/NowPlaying</string>
		</dict>
		<key>MessageBarBackground</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>name</key>
			<string>MessageBar</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/MessageBar</string>
		</dict>
		<key>RadioViewMessageBar</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>8</integer>
			<key>width</key>
			<integer>304</integer>
			<key>height</key>
			<integer>22</integer>
		</dict>
		<key>RadioViewMessageBarFont</key>
		<dict>
			<key>font</key>
			<dict>
				<key>size</key>
				<integer>12</integer>
				<key>textColor</key>
				<string>black</string>
				<key>textAlignement</key>
				<string>left</string>
			</dict>
		</dict>
		<key>TableView</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>38</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>258</integer>
		</dict>
		<key>CellMinHeight</key>
		<dict>
			<key>minHeight</key>
			<integer>60</integer>
		</dict>
		<key>CellAvatar</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>8</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>35</integer>
		</dict>
		<key>CellAvatarMask</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>8</integer>
			<key>name</key>
			<string>UserMask</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/</string>
		</dict>
		<key>CellDate</key>
		<dict>
			<key>font</key>
			<dict>
				<key>textAlignement</key>
				<string>right</string>
				<key>name</key>
				<string>Arial</string>
				<key>size</key>
				<integer>10</integer>
				<key>textColor</key>
				<string>rgb(96,96,96)</string>
			</dict>
			<key>height</key>
			<integer>12</integer>
			<key>width</key>
			<integer>120</integer>
			<key>x</key>
			<integer>190</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<key>CellUser</key>
		<dict>
			<key>font</key>
			<dict>
				<key>size</key>
				<integer>12</integer>
				<key>textColor</key>
				<string>rgb(32,32,32)</string>
				<key>weight</key>
				<string>bold</string>
			</dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>240</integer>
			<key>x</key>
			<integer>46</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>CellMessage</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Arial</string>
				<key>size</key>
				<integer>12</integer>
				<key>textColor</key>
				<string>rgb(32,32,32)</string>
			</dict>
			<key>height</key>
			<integer>12</integer>
			<key>width</key>
			<integer>270</integer>
			<key>x</key>
			<integer>46</integer>
			<key>y</key>
			<integer>25</integer>
		</dict>
		<key>SectionOnlineLabel</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Arial</string>
				<key>size</key>
				<integer>18</integer>
				<key>textColor</key>
				<string>rgb(32,32,32)</string>
				<key>backgroundColor</key>
				<string>clear</string>
				<key>weight</key>
				<string>bold</string>
				<key>text</key>
				<string>Online</string>
			</dict>
			<key>height</key>
			<integer>25</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>12</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>SectionOfflineLabel</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Arial</string>
				<key>size</key>
				<integer>18</integer>
				<key>textColor</key>
				<string>rgb(32,32,32)</string>
				<key>backgroundColor</key>
				<string>clear</string>
				<key>weight</key>
				<string>bold</string>
				<key>text</key>
				<string>Offline</string>
			</dict>
			<key>height</key>
			<integer>25</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>12</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>CellSeparator</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>10</integer>
			<key>name</key>
			<string>MessageSeparator</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/</string>
		</dict>
		<key>SongCellBackground</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>name</key>
			<string>TrackBackground</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/</string>
		</dict>
		<key>SongCellDate</key>
		<dict>
			<key>font</key>
			<dict>
				<key>size</key>
				<integer>13</integer>
				<key>textColor</key>
				<string>white</string>
				<key>weight</key>
				<string>bold</string>
			</dict>
			<key>height</key>
			<integer>16</integer>
			<key>width</key>
			<integer>100</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>SongCellMessage</key>
		<dict>
			<key>font</key>
			<dict>
				<key>size</key>
				<integer>12</integer>
				<key>textColor</key>
				<string>rgb(72,72,72)</string>
				<key>weight</key>
				<string>bold</string>
			</dict>
			<key>height</key>
			<integer>16</integer>
			<key>width</key>
			<integer>255</integer>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>StatusBar</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>428</integer>
			<key>name</key>
			<string>StatusBar</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/StatusBar</string>
		</dict>
		<key>StatusBarButton</key>
		<dict>
			<key>x</key>
			<integer>294</integer>
			<key>y</key>
			<integer>12</integer>
			<key>name</key>
			<string>StatusArrowUp</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/StatusBar</string>
		</dict>
		<key>StatusBarButtonOff</key>
		<dict>
			<key>name</key>
			<string>StatusArrowUp</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/StatusBar</string>
		</dict>
		<key>StatusBarButtonOn</key>
		<dict>
			<key>name</key>
			<string>StatusArrowDown</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/StatusBar</string>
		</dict>
		<key>RadioViewStatusBarMessage</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Arial</string>
				<key>size</key>
				<integer>13</integer>
				<key>textColor</key>
				<string>white</string>
			</dict>
			<key>height</key>
			<integer>16</integer>
			<key>width</key>
			<integer>280</integer>
			<key>x</key>
			<integer>-280</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>RadioViewStatusBarUserScrollView</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>width</key>
			<integer>294</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>RadioViewStatusBarUserImage</key>
		<dict>
			<key>x</key>
			<integer>23</integer>
			<key>y</key>
			<integer>4</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>42</integer>
		</dict>
		<key>StatusBarUserName</key>
		<dict>
			<key>font</key>
			<dict>
				<key>textAlignement</key>
				<string>center</string>
				<key>size</key>
				<integer>9</integer>
				<key>textColor</key>
				<string>white</string>
				<key>weight</key>
				<string>bold</string>
			</dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>46</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>12</integer>
		</dict>
		<key>RadioViewExtraLayer</key>
		<dict>
			<key>x</key>
			<integer>196</integer>
			<key>y</key>
			<integer>107</integer>
			<key>name</key>
			<string>ExtraLayer</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images</string>
			<key>alpha</key>
			<real>0.65</real>
		</dict>
		<key>TrackInteraction</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>48</integer>
		</dict>
		<key>TrackInteractionButtonShare</key>
		<dict>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>3</integer>
			<key>name</key>
			<string>btnShare</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/Buttons</string>
		</dict>
		<key>TrackInteractionButtonLike</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>3</integer>
			<key>name</key>
			<string>btnLike</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/Buttons</string>
		</dict>
		<key>TrackInteractionButtonDislike</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>3</integer>
			<key>name</key>
			<string>btnDislike</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/Buttons</string>
		</dict>
		<key>TrackInteractionButtonAdd</key>
		<dict>
			<key>x</key>
			<integer>132</integer>
			<key>y</key>
			<integer>3</integer>
			<key>name</key>
			<string>btnAdd</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/Buttons</string>
		</dict>
		<key>TrackInteractionButtonBuy</key>
		<dict>
			<key>x</key>
			<integer>198</integer>
			<key>y</key>
			<integer>3</integer>
			<key>name</key>
			<string>btnBuy</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/Header/Buttons</string>
		</dict>
		<key>ViewContainer</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>140</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>321</integer>
		</dict>
		<key>UpdatingPreviousLabel</key>
		<dict>
			<key>font</key>
			<dict>
				<key>size</key>
				<integer>12</integer>
				<key>textColor</key>
				<string>rgb(128,128,128)</string>
				<key>weight</key>
				<string>normal</string>
			</dict>
			<key>height</key>
			<integer>16</integer>
			<key>width</key>
			<integer>150</integer>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<key>TableViewBackground</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>name</key>
			<string>BodyBackground</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images/</string>
		</dict>
	</dict>
</dict>
</plist>
