<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>yasound theme default</string>
	<key>name</key>
	<string>Default</string>
	<key>stylesheet</key>
	<dict>
		<key>RadioViewHeader</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>132</integer>
			<key>color</key>
			<string>rgb(51,51,51)</string>
		</dict>
		<key>RadioViewHeaderBack</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>20</integer>
			<key>name</key>
			<string>ArrowLeft</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images</string>
		</dict>
		<key>RadioViewHeaderAvatar</key>
		<dict>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>7</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
		</dict>
		<key>RadioViewHeaderAvatarMask</key>
		<dict>
			<key>x</key>
			<integer>23</integer>
			<key>y</key>
			<integer>4</integer>
			<key>name</key>
			<string>AvatarMask</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images</string>
		</dict>
		<key>RadioViewHeaderTitle</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue</string>
				<key>size</key>
				<integer>20</integer>
				<key>text</key>
				<string>Jenny&apos;s Radio</string>
				<key>textColor</key>
				<string>white</string>
				<key>textAlignement</key>
				<string>left</string>
			</dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>12</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>20</integer>
		</dict>
		<key>RadioViewHeaderHeart</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>40</integer>
			<key>name</key>
			<string>Heart</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images</string>
		</dict>
		<key>RadioViewHeaderHeadSet</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>40</integer>
			<key>name</key>
			<string>HeadSet</string>
			<key>type</key>
			<string>png</string>
			<key>path</key>
			<string>images</string>
		</dict>
		<key>RadioViewHeaderLikes</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue</string>
				<key>size</key>
				<integer>10</integer>
				<key>text</key>
				<string>12345</string>
				<key>textColor</key>
				<string>rgb(140,140,140)</string>
			</dict>
			<key>height</key>
			<integer>10</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>89</integer>
			<key>y</key>
			<integer>39</integer>
		</dict>
		<key>RadioViewHeaderListeners</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue</string>
				<key>size</key>
				<integer>10</integer>
				<key>text</key>
				<string>12345</string>
				<key>textColor</key>
				<string>rgb(140,140,140)</string>
			</dict>
			<key>height</key>
			<integer>10</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>39</integer>
		</dict>
	</dict>
</dict>
</plist>
